<%- include('../partials/header') %>

<h1><%= title %></h1>


<main class="saved-books-container">
    <% userObj.favBooks.forEach(function(b){ %>


        <div id="thumbail" class=" saved-book-item"> 
            <div class="saved-img-container">
            <a href="/books/<%=b._id%>"><img class="img-saved" src="<%= b.thumbnail %>" > </a> 
            <form action="/books/<%= b._id %>?_method=DELETE" method="POST">
                <button class="btn-quick-delete delete-btn" type="Submit"> <span class="material-symbols-outlined">
                    delete_forever
                    </span> </button>
            </form>  
            </div>
            <div class="saved-books-title">
            <strong> <%= b.title %></strong> <br>
            by <a href="/books/author"><%= b.authors %></a> 
            </div>
        </div>
    <%})%>


</main>


<%- include('../partials/footer') %>
