

<%- include('../partials/header') %>
<h1>Book Details</h1>

<% if (userData) { %> 
  <% userData.items.forEach(function(book) { %> 


<main class="details-grid-container">
  <div id="grid-item1" class="grid-item grid-item-1">
    <img id="grid-item1" style="width: 20%;" class="grid-items book-thumbnail" src="<%= book.volumeInfo.imageLinks.thumbnail %>">
  <!-- </div> -->
  <!-- <div class="grid-item grid-item-2"> -->
    <p><h3> <%= book.volumeInfo.title %>
      by <%= book.volumeInfo.authors %>
      <!-- Genre: <%= book.volumeInfo.categories %></h3>  -->
 

  </p>


  </div>

  <div class="grid-item grid-item-3">
    <h4>Overview:</h4>
    <p> <%= book.volumeInfo.description %> </p>
  </div>
  <%})}%>
  <div class="grid-item grid-item-4">
    <br><br>
    <h2 style="font-style:italic">What do you think?</h2>


    <% if (user) { %>

    <form action="/books/<%= book._id %>/comments/new" method="GET">
      <button class="btn-review-saved-pg"> Write a review </button>
    </form>
    <% } else { %>
      <a href="/auth/google">
        <button class="btn-review-saved-pg"> Write a review </button>
      </a>
    <% } %>

    <h5>No comments Yet</h5>


    <div class="comment-container grid-item-5">

      <div class="comment-section comment-blurb">
  
          </div>


            <div class="unique-comment">
            <div class="review-user usernmae-comment-sect">
              <div class="img-username-comment-section"><br>
                <!-- Assuming c.userAvatar contains the URL of the user's avatar image -->

              </div>

      </div>
    </div>



  </div>
</main>




<%- include('../partials/footer') %>