
<%- include('../partials/header') %>

<h1><%= title %></h1>

<main class="container-books-index">

<div class="row col-xs-8 col-xs-offset-2">
    <% if (userData) { %>
      <% userData.items.forEach(function(book) { %>
        <% if (book.volumeInfo.imageLinks.thumbnail) { %>
          <div class="col-xs-4">
            <img name="thumbnail" src="<%= book.volumeInfo.imageLinks.thumbnail %>" class="img-circle" width="100">
            <p name="title"><%= book.volumeInfo.title %></p>
            <p name="authors"><%= book.volumeInfo.authors %></p>
            <p name="description"> <%book.volumeInfo.description%> </p>
            <p name="description"> <%book.volumeInfo.categories%> </p>
            
            <form action="/books" method="POST">
                <input type="text" hidden name="title" value="<%= book.volumeInfo.title %>">
                <input type="text" hidden name="authors" value="<%= book.volumeInfo.authors %>">
                <input type="text" hidden name="thumbnail" value="<%=book.volumeInfo.imageLinks.thumbnail %>">
                <input type="text" hidden name="description" value="<%=book.volumeInfo.description %>">
                <input type="text" hidden name="categories" value="<%=book.volumeInfo.categories %>">
                <button>SAVE</button>
            </form>
            <br>
            <!-- <p> <a href="<%= book.volumeInfo.previewLink %> ">Link </a></p> -->
          </div>
        <% } %>
      <% }); %>
    <% } else { %>
      <h3 class="text-center text-info">
        No book covers !
      </h3>
    <% } %>
  </div>

</main>
<%- include('../partials/footer') %>


