

<%- include('../partials/header') %>
<br><br><h2>Reviews</h2>

 
            <img src="<%= book.thumbnail %>" > 
            </a>
            <%= book.title %>
            <%= book.authors %>
            <%= book.description %>
            GENRE:<%= book.categories %>
             
             <span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star checked"></span>
<span class="fa fa-star"></span>
<span class="fa fa-star"></span>
    

WHAT DO YOU THINK?

 
  
  <label>Review:</label>
  <textarea name="content"></textarea>
  <label>Rating:</label>
  <select name="rating">
    <option value="1">1</option>
    <option value="2">2</option>
    <option value="3">3</option>
    <option value="4">4</option>
    <option value="5" selected>5</option>
  </select>

  <form name="comments" id="add-review-form" method="POST"
  action="/books/<%= book._id %>/comments">

  <input type="submit" value="Add comment">
</form>




<%- include('../partials/footer') %>