<%- include('../partials/header') %>
  <h2><%= title %></h2>

  <main>
    <div>
      <p><h3><%= book.title %> > Review</h3></p> 
    </div>
    <div>
      <img id="grid-item1" style="width: 80%;"class="grid-items book-thumbnail" src="<%= book.thumbnail %>" > 
    </div>
    <div class="grid-item grid-item-2">
      <p><h3><%= book.title %> </h3></p>
      <p> by <%= book.authors %></p>
    </div>




    <div class="comment-new-page">
      <form id="add-review-form" method="POST" action="/books/<%= book._id %>/comments">
        <!-- <label>Comments:</label> -->
        <textarea name="content"></textarea>
        <input class="btn-review-saved-pg" type="submit" value="POST">
      </form>
    </div>
  </main>




  <%- include('../partials/footer') %>