<%- include('../partials/header') %>
  <h2><%= title %></h2>
<main class="comments-page-container">
  <div class="comment-section-title">
    <p>
    <h3> <%= book.title %> > Review</h3>
    </p>
  </div>
  <div class="comment-book-thumbnail-div">
    <img id="grid-item1" style="width: 15%;" class="grid-items comment-book-thumbnail" src="<%= book.thumbnail %>"> <br>
    <strong>
      <%= book.title %>
    </strong> <br> by <%= book.authors %>
  </div>
  <div class="comment-box-new-page">
    What do you think?
    <form id="add-review-form" method="POST" action="/books/<%= book._id %>/comments">
      <textarea name="content" rows="10" cols="60"></textarea> <br>
      <input class="btn-review-saved-pg" type="submit" value="POST">
    </form>
  </div>
</main>


  <%- include('../partials/footer') %>