<%- include('../partials/header') %>

<h1><%= title %></h1>
<main class="container">

<section class="saved-books-grid">


    <% books.forEach(function(b){ %>
        <div id="thumbail" class="saved-book-item"> <a href="/books/<%=b._id%>"><img src="<%= b.thumbnail %>" > </a>  </div>
        <div id="title" class="saved-book-item"> <%= b.title %> </div>
        <div class="saved-book-item"> By <%= b.authors %> </div>
        <div><
        <form action="/books/<%= b._id %>?_method=DELETE" method="POST">
            <button type="Submit"> DELETE</button>
        </form>  </div>



    <%})%>

</section>
</main>
<%- include('../partials/footer') %>

