<%- include('../partials/header') %>

<h1><%= title %></h1>
<main class="container">

<section class="saved-books-grid">


    <% books.forEach(function(b){ %>
        <div class="saved-book-item"> <a href="/books/<%=b._id%>"><img src="<%= b.thumbnail %>" > </a>  </div>
        <div class="saved-book-item"> <%= b.title %> </div>
        <div class="saved-book-item"> By <%= b.authors %> </div>

    <%})%>


</section>
</main>
<%- include('../partials/footer') %>

