<%- include('../partials/header') %>
  <h1>
    <%= title %>
  </h1>
  <main class="glide container-books-index ">
    <div class="container">
      <div class="glide">
        <div class="glide__track" data-glide-el="track">
          <ul class="glide__slides">

            <% if (searchedData) { %> 
              <% searchedData.items.forEach(function(book) { %>
            
                <% if (book.volumeInfo.imageLinks.thumbnail) { %>
                  <li class="glide__slide">
                    <div class="img-container">
                    <img name="thumbnail" class="index-thumbnail " src="<%= book.volumeInfo.imageLinks.thumbnail %>" class="img-circle" width="100">
                    <br>
                    <p name="title"><%= book.volumeInfo.title %></p>
                    <p name="authors">by <%= book.volumeInfo.authors %></p>
                    <p name="description"><%book.volumeInfo.description%></p>
                    <p name="description"><%book.volumeInfo.categories%></p>
              
                    <form action="/books" method="POST">
                      <input type="text" hidden name="title" value="<%= book.volumeInfo.title %>">
                      <input type="text" hidden name="authors" value="<%= book.volumeInfo.authors %>">
                      <input type="text" hidden name="thumbnail" value="<%= book.volumeInfo.imageLinks.thumbnail %>">
                      <input type="text" hidden name="description" value="<%= book.volumeInfo.description %>">
                      <input type="text" hidden name="categories" value="<%= book.volumeInfo.categories %>">
                      <button class="btn-quick-save"> SAVE</button>
                    </form>
                    <br>
                    </div>
                  </li>
            
                <% } %>
            
              <% }); %>
            <% } else { %>

              <h3 class="text-info">
                No book covers!
              </h3>
            <% } %>
            





            <li class="glide__slide">5</li>




          </ul>
        </div>

        <div class="glide__arrows" data-glide-el="controls">
          <button class="glide__arrow glide__arrow--left" data-glide-dir="<"> <span class="material-symbols-outlined">
            arrow_back_ios_new
            </span> </button>
          <button class="glide__arrow glide__arrow--right" data-glide-dir=">"> <span class="material-symbols-outlined">
            arrow_forward_ios
            </span> </button>
        </div>

      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@glidejs/glide"></script>
    <script>
      const config ={
        type: 'carousel',
        perView: 4

      }
      new Glide('.glide', config).mount()
    </script>

  </main>
  <%- include('../partials/footer') %>